## Align the same version of MongoDB and Pymongo Package

In [2]:
# Install the package
!pip install pymongo==4.4

Requirement already satisfied: pymongo==4.4 in e:\downloads\anaconda\anaconda3\lib\site-packages (4.4.0)

WARNING: Ignoring invalid distribution -ymongo (e:\downloads\anaconda\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (e:\downloads\anaconda\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (e:\downloads\anaconda\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (e:\downloads\anaconda\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (e:\downloads\anaconda\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (e:\downloads\anaconda\anaconda3\lib\site-packages)

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in e:\downloads\anaconda\anaconda3\lib\site-packages (from pymongo==4.4) (2.2.1)

## Translate the original data into suitable format

In [ ]:
# Transform the original data into csv readable template

# import pyarrow.parquet as pq
# import pandas as pd
# import numpy as np
# import gc

# parquet_file = pq.read_table('daily_weather.parquet')
# df = parquet_file.to_pandas()
# df.replace(np.nan, 0, inplace=True)
# df.to_csv('daily_weather.csv', index=False)

## Connect with MongoDB

In [10]:
# Import the package
import pymongo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
# Connect with the Mongodb Server
client = pymongo.MongoClient('localhost',27017)

## Set the name of the sheets

In [26]:
# Create new database and connection
db = client['comp6235']
all_weather = db['all_weather']
london_historical_weather = db['london_historical_weather']
uk_energy = db['uk_energy']

## Insert the data into the database

In [15]:
# Insert all weather data[last five years] into the database
file = pd.read_csv('./data/daily_weather.csv', chunksize=100000)
for chunk in file:
    data = chunk
    data = data[data['date']>'2013-01-01']
    data = data[data['date']<'2022-12-31']
    data_dict = data.to_dict(orient='records')
    all_weather.insert_many(data_dict)

C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:
C:\Users\77431\AppData\Local\Temp\ipykernel_29552\2885049015.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in file:

In [43]:
# Insert London Historical Weather Data into MongoDB for Weather Prediction
file2 = pd.read_csv('./data/london_weather.csv')
file2.replace(np.nan, 0, inplace=True)
data_dict2 = file2.to_dict(orient='records')
london_historical_weather.insert_many(data_dict2)

In [44]:
# Insert UK Historical Weather Data into MongoDB for Weather Prediction
file3 = pd.read_csv('./data/uk_renewable_energy.csv')
file3.replace(np.nan, 0, inplace=True)
data_dict3 = file3.to_dict(orient='records')
uk_energy.insert_many(data_dict3)

## Test the result

In [38]:
# Test Data
my_query = {'city_name':{'$eq':'London'}}
test1 = all_weather.find(my_query)
df1 = pd.DataFrame(list(test1))
df1

,_id,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,6572a97e5bffd97e20d20844,3772,London,2013-01-02,Winter,6.9,2.0,10.9,0.0,0.0,239.0,14.6,0.0,0.0,0.0
1,6572a97e5bffd97e20d20845,3772,London,2013-01-03,Winter,10.6,8.5,11.3,0.3,0.0,256.0,18.6,0.0,0.0,0.0
2,6572a97e5bffd97e20d20846,3772,London,2013-01-04,Winter,9.6,8.2,10.4,0.0,0.0,262.0,17.4,0.0,1037.4,0.0
3,6572a97e5bffd97e20d20847,3772,London,2013-01-05,Winter,9.2,8.0,10.8,0.0,0.0,240.0,14.1,0.0,1035.3,0.0
4,6572a97e5bffd97e20d20848,3772,London,2013-01-06,Winter,7.3,6.0,8.9,0.3,0.0,211.0,9.9,0.0,1032.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,6572a97e5bffd97e20d21681,3772,London,2022-12-26,Winter,6.8,3.4,10.4,1.5,0.0,240.0,19.7,54.0,1015.6,0.0
3646,6572a97e5bffd97e20d21682,3772,London,2022-12-27,Winter,6.9,1.9,10.8,0.0,0.0,205.0,18.7,57.0,1019.3,0.0
3647,6572a97e5bffd97e20d21683,3772,London,2022-12-28,Winter,10.7,8.2,12.0,5.8,0.0,203.0,26.7,57.0,1001.9,0.0
3648,6572a97e5bffd97e20d21684,3772,London,2022-12-29,Winter,8.5,6.0,11.7,4.1,0.0,222.0,26.8,58.0,1000.9,0.0
3649,6572a97e5bffd97e20d21685,3772,London,2022-12-30,Winter,10.0,4.5,13.4,0.0,0.0,191.0,24.4,57.0,997.1,0.0

In [53]:
# Test London Historical Weather Data
my_query2 = {'date':{'$gte':20000101}}
test2 = london_historical_weather.find(my_query2)
df2 = pd.DataFrame(list(test2))
df2

,_id,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,6572ae475bffd97e20d80f92,20000101,7.0,0.4,18.0,10.8,7.0,4.9,0.0,102450.0,0.0
1,6572ae475bffd97e20d80f93,20000102,7.0,0.7,20.0,11.5,7.9,5.0,0.2,102530.0,0.0
2,6572ae475bffd97e20d80f94,20000103,8.0,0.0,13.0,9.5,9.4,7.2,6.0,101860.0,0.0
3,6572ae475bffd97e20d80f95,20000104,5.0,2.9,34.0,11.0,7.0,4.4,0.2,101480.0,0.0
4,6572ae475bffd97e20d80f96,20000105,5.0,1.3,25.0,10.8,6.4,1.9,0.8,101420.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7666,6572ae475bffd97e20d82d84,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,0.0
7667,6572ae475bffd97e20d82d85,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,0.0
7668,6572ae475bffd97e20d82d86,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,0.0
7669,6572ae475bffd97e20d82d87,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,0.0
7670,6572ae475bffd97e20d82d88,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,0.0

In [52]:
# Test UK Energy Data
my_query3 = {'Year':{'$gte':2000}}
test3 = uk_energy.find(my_query3)
df3 = pd.DataFrame(list(test3))
df3

,_id,Year,Energy from renewable & waste sources,Total energy consumption of primary fuels and equivalents,Fraction from renewable sources and waste,Hydroelectric power,"Wind, wave, tidal",Solar photovoltaic,Geothermal aquifers,Landfill gas,...,Municipal solid waste (MSW),Poultry litter,Straw,Wood,Charcoal,Liquid bio-fuels,Bioethanol,Biodiesel,Biomass,Cross-boundary Adjustment
0,6572ae495bffd97e20d82d93,2000,3.164,248.037,0.013,0.437,0.081,0.000,0.001,0.731,...,0.678,0.159,0.015,0.766,0.036,0.000,0.000,0.000,0.090,0.000
1,6572ae495bffd97e20d82d94,2001,3.270,252.807,0.013,0.348,0.083,0.000,0.001,0.836,...,0.731,0.199,0.076,0.716,0.033,0.000,0.000,0.000,0.078,0.000
2,6572ae495bffd97e20d82d95,2002,3.575,244.980,0.015,0.412,0.108,0.000,0.001,0.892,...,0.795,0.195,0.061,0.716,0.035,0.000,0.000,0.002,0.183,0.000
3,6572ae495bffd97e20d82d96,2003,3.802,248.011,0.015,0.278,0.111,0.000,0.001,1.088,...,0.816,0.181,0.085,0.719,0.037,0.000,0.000,0.016,0.301,0.000
4,6572ae495bffd97e20d82d97,2004,4.407,249.249,0.018,0.418,0.166,0.000,0.001,1.327,...,0.790,0.164,0.080,0.778,0.040,0.011,0.000,0.017,0.434,0.000
5,6572ae495bffd97e20d82d98,2005,5.026,249.704,0.020,0.423,0.250,0.001,0.001,1.421,...,0.794,0.158,0.071,1.019,0.036,0.173,0.048,0.027,0.393,0.001
6,6572ae495bffd97e20d82d99,2006,5.380,243.557,0.022,0.395,0.363,0.001,0.001,1.465,...,0.856,0.147,0.075,0.992,0.035,0.202,0.054,0.139,0.458,0.003
7,6572ae495bffd97e20d82d9a,2007,5.579,239.041,0.023,0.437,0.453,0.001,0.001,1.547,...,0.882,0.152,0.071,0.960,0.034,0.060,0.086,0.285,0.386,0.006
8,6572ae495bffd97e20d82d9b,2008,6.463,235.284,0.027,0.442,0.612,0.001,0.001,1.554,...,0.910,0.179,0.079,1.206,0.031,0.028,0.116,0.729,0.322,0.013
9,6572ae495bffd97e20d82d9c,2009,7.258,220.872,0.033,0.450,0.798,0.002,0.001,1.626,...,1.089,0.176,0.076,1.214,0.033,0.014,0.180,0.859,0.462,0.014
10,6572ae495bffd97e20d82d9d,2010,7.940,227.221,0.035,0.309,0.884,0.003,0.001,1.725,...,1.093,0.182,0.086,1.398,0.050,0.016,0.356,0.862,0.622,0.015
11,6572ae495bffd97e20d82d9e,2011,8.846,213.972,0.041,0.489,1.373,0.021,0.001,1.758,...,1.087,0.212,0.080,1.537,0.048,0.016,0.367,0.765,0.674,0.014
12,6572ae495bffd97e20d82d9f,2012,9.523,216.058,0.044,0.457,1.707,0.116,0.001,1.722,...,1.260,0.196,0.092,1.811,0.049,0.049,0.463,0.522,0.586,0.011
13,6572ae495bffd97e20d82da0,2013,11.238,213.781,0.053,0.400,2.442,0.173,0.001,1.711,...,1.182,0.207,0.105,2.518,0.082,0.055,0.492,0.630,0.657,0.012
14,6572ae495bffd97e20d82da1,2014,13.332,202.499,0.066,0.510,2.748,0.349,0.001,1.664,...,1.464,0.208,0.129,3.133,0.082,0.003,0.468,0.785,1.064,0.013
15,6572ae495bffd97e20d82da2,2015,16.075,203.941,0.079,0.540,3.463,0.648,0.001,1.612,...,1.952,0.222,0.167,4.166,0.080,0.004,0.461,0.554,1.308,0.010
16,6572ae495bffd97e20d82da3,2016,16.750,202.261,0.083,0.460,3.195,0.894,0.001,1.556,...,2.392,0.227,0.247,4.164,0.053,0.001,0.452,0.586,1.365,0.009
17,6572ae495bffd97e20d82da4,2017,18.656,197.273,0.095,0.510,4.268,0.985,0.001,1.419,...,2.561,0.216,0.261,4.236,0.089,0.001,0.452,0.574,1.751,0.009
18,6572ae495bffd97e20d82da5,2018,21.034,198.125,0.106,0.470,4.893,1.089,0.001,1.298,...,2.932,0.214,0.259,4.913,0.107,0.000,0.445,0.939,2.071,0.013
19,6572ae495bffd97e20d82da6,2019,22.871,192.500,0.119,0.500,5.485,1.082,0.001,1.202,...,3.255,0.222,0.335,5.370,0.068,0.000,0.443,1.319,2.121,0.018
20,6572ae495bffd97e20d82da7,2020,24.472,169.439,0.144,0.580,6.481,1.131,0.001,1.160,...,3.367,0.223,0.338,5.478,0.074,0.000,0.359,1.335,2.469,0.017